@font-face {
  font-family: 'inexor-ecs';
  src: url('../../font/inexor-ecs/inexor-ecs.eot?73886328');
  src: url('../../font/inexor-ecs/inexor-ecs.eot?73886328#iefix') format('embedded-opentype'),
       url('../../font/inexor-ecs/inexor-ecs.woff2?73886328') format('woff2'),
       url('../../font/inexor-ecs/inexor-ecs.woff?73886328') format('woff'),
       url('../../font/inexor-ecs/inexor-ecs.ttf?73886328') format('truetype'),
       url('../../font/inexor-ecs/inexor-ecs.svg?73886328#inexor-ecs') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'inexor-ecs';
    src: url('../font/inexor-ecs.svg?73886328#inexor-ecs') format('svg');
  }
}
*/
 
 [class^="inexor-ecs-"]:before, [class*=" inexor-ecs-"]:before {
  font-family: "inexor-ecs";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.inexor-ecs-sort-alphabet-outline:before { content: '\e800'; } /* '' */
.inexor-ecs-sort-numeric-outline:before { content: '\e801'; } /* '' */
.inexor-ecs-infinity-outline:before { content: '\e802'; } /* '' */
.inexor-ecs-pi-outline:before { content: '\e803'; } /* '' */
.inexor-ecs-sqrt:before { content: '\e804'; } /* '' */
.inexor-ecs-na:before { content: '\e805'; } /* '' */
.inexor-ecs-greater-than:before { content: '\e806'; } /* '' */
.inexor-ecs-less-than:before { content: '\e807'; } /* '' */
.inexor-ecs-not-equal:before { content: '\e808'; } /* '' */
.inexor-ecs-split:before { content: '\e809'; } /* '' */
.inexor-ecs-exchange:before { content: '\e80a'; } /* '' */
.inexor-ecs-loop-alt:before { content: '\e80b'; } /* '' */
.inexor-ecs-loop:before { content: '\e80c'; } /* '' */
.inexor-ecs-cw:before { content: '\e80d'; } /* '' */
.inexor-ecs-ok:before { content: '\e80e'; } /* '' */
.inexor-ecs-cancel:before { content: '\e80f'; } /* '' */
.inexor-ecs-star:before { content: '\e810'; } /* '' */
.inexor-ecs-undo:before { content: '\e811'; } /* '' */
.inexor-ecs-resize-full:before { content: '\e812'; } /* '' */
.inexor-ecs-resize-full-alt:before { content: '\e813'; } /* '' */
.inexor-ecs-resize-small:before { content: '\e814'; } /* '' */
.inexor-ecs-resize-small-alt:before { content: '\e815'; } /* '' */
.inexor-ecs-resize-vertical:before { content: '\e816'; } /* '' */
.inexor-ecs-resize-horizontal:before { content: '\e817'; } /* '' */
.inexor-ecs-move:before { content: '\e818'; } /* '' */
.inexor-ecs-target:before { content: '\e819'; } /* '' */
.inexor-ecs-equalizer:before { content: '\e81a'; } /* '' */
.inexor-ecs-plus:before { content: '\e81b'; } /* '' */
.inexor-ecs-minus:before { content: '\e81c'; } /* '' */
.inexor-ecs-download:before { content: '\e81d'; } /* '' */
.inexor-ecs-upload:before { content: '\e81e'; } /* '' */
.inexor-ecs-tag:before { content: '\e81f'; } /* '' */
.inexor-ecs-tag-empty:before { content: '\e820'; } /* '' */
.inexor-ecs-link:before { content: '\e821'; } /* '' */
.inexor-ecs-pencil-alt:before { content: '\e822'; } /* '' */
.inexor-ecs-wrench:before { content: '\e823'; } /* '' */
.inexor-ecs-arrow-curved:before { content: '\e824'; } /* '' */
.inexor-ecs-share:before { content: '\e825'; } /* '' */
.inexor-ecs-comment-alt2:before { content: '\e826'; } /* '' */
.inexor-ecs-location-inv:before { content: '\e827'; } /* '' */
.inexor-ecs-doc:before { content: '\e828'; } /* '' */
.inexor-ecs-doc-alt:before { content: '\e829'; } /* '' */
.inexor-ecs-book-open:before { content: '\e82a'; } /* '' */
.inexor-ecs-info:before { content: '\e82b'; } /* '' */
.inexor-ecs-home:before { content: '\e82c'; } /* '' */
.inexor-ecs-hash:before { content: '\e82d'; } /* '' */
.inexor-ecs-sort-alphabet:before { content: '\e82e'; } /* '' */
.inexor-ecs-sort-numeric:before { content: '\e82f'; } /* '' */
.inexor-ecs-pi:before { content: '\e830'; } /* '' */
.inexor-ecs-flow-split:before { content: '\e831'; } /* '' */
.inexor-ecs-flow-merge:before { content: '\e832'; } /* '' */
.inexor-ecs-flow-parallel:before { content: '\e833'; } /* '' */
.inexor-ecs-flow-cross:before { content: '\e834'; } /* '' */
.inexor-ecs-arrows-cw:before { content: '\e835'; } /* '' */
.inexor-ecs-loop-1:before { content: '\e836'; } /* '' */
.inexor-ecs-loop-alt-1:before { content: '\e837'; } /* '' */
.inexor-ecs-shuffle:before { content: '\e838'; } /* '' */
.inexor-ecs-print:before { content: '\e839'; } /* '' */
.inexor-ecs-comment:before { content: '\e83a'; } /* '' */
.inexor-ecs-chat:before { content: '\e83b'; } /* '' */
.inexor-ecs-chat-alt:before { content: '\e83c'; } /* '' */
.inexor-ecs-infinity:before { content: '\e83d'; } /* '' */
.inexor-ecs-quote-left:before { content: '\e83e'; } /* '' */
.inexor-ecs-quote-right:before { content: '\e83f'; } /* '' */
.inexor-ecs-down-small:before { content: '\e840'; } /* '' */
.inexor-ecs-left-small:before { content: '\e841'; } /* '' */
.inexor-ecs-right-small:before { content: '\e842'; } /* '' */
.inexor-ecs-up-small:before { content: '\e843'; } /* '' */
.inexor-ecs-plus-1:before { content: '\e844'; } /* '' */
.inexor-ecs-minus-1:before { content: '\e845'; } /* '' */
.inexor-ecs-divide:before { content: '\e846'; } /* '' */
.inexor-ecs-eq:before { content: '\e847'; } /* '' */
.inexor-ecs-ok-1:before { content: '\e848'; } /* '' */
.inexor-ecs-cancel-1:before { content: '\e849'; } /* '' */
.inexor-ecs-ok-outline:before { content: '\e84a'; } /* '' */
.inexor-ecs-cancel-outline:before { content: '\e84b'; } /* '' */
.inexor-ecs-plus-outline:before { content: '\e84c'; } /* '' */
.inexor-ecs-minus-outline:before { content: '\e84d'; } /* '' */
.inexor-ecs-divide-outline:before { content: '\e84e'; } /* '' */
.inexor-ecs-eq-outline:before { content: '\e84f'; } /* '' */
.inexor-ecs-reply-outline:before { content: '\e850'; } /* '' */
.inexor-ecs-reply:before { content: '\e851'; } /* '' */
.inexor-ecs-forward-outline:before { content: '\e852'; } /* '' */
.inexor-ecs-forward:before { content: '\e853'; } /* '' */
.inexor-ecs-code-outline:before { content: '\e854'; } /* '' */
.inexor-ecs-code:before { content: '\e855'; } /* '' */
.inexor-ecs-th-outline:before { content: '\e856'; } /* '' */
.inexor-ecs-th:before { content: '\e857'; } /* '' */
.inexor-ecs-th-large-outline:before { content: '\e858'; } /* '' */
.inexor-ecs-th-large:before { content: '\e859'; } /* '' */
.inexor-ecs-trash:before { content: '\e85a'; } /* '' */
.inexor-ecs-left-open-outline:before { content: '\e85b'; } /* '' */
.inexor-ecs-left-open:before { content: '\e85c'; } /* '' */
.inexor-ecs-right-open-outline:before { content: '\e85d'; } /* '' */
.inexor-ecs-right-open:before { content: '\e85e'; } /* '' */
.inexor-ecs-down:before { content: '\e85f'; } /* '' */
.inexor-ecs-left:before { content: '\e860'; } /* '' */
.inexor-ecs-right:before { content: '\e861'; } /* '' */
.inexor-ecs-up:before { content: '\e862'; } /* '' */
.inexor-ecs-down-outline:before { content: '\e863'; } /* '' */
.inexor-ecs-left-outline:before { content: '\e864'; } /* '' */
.inexor-ecs-right-outline:before { content: '\e865'; } /* '' */
.inexor-ecs-up-outline:before { content: '\e866'; } /* '' */
.inexor-ecs-cw-1:before { content: '\e867'; } /* '' */
.inexor-ecs-vector:before { content: '\f045'; } /* '' */
